.gradient {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #a09c9c;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.google-btn .google-icon {
    margin-right: 1px;
    width: 27px;
    margin-top: 6px;
}

.google-btn .btn-text {
float: right;
margin: 11px 11px 0 0;
color: #fff;
font-size: 14px;
letter-spacing: 0.2px;
font-family: "Roboto";
}

.btn-text:hover {
box-shadow: 0 0 6px #4285f4;
}

.btn-text:active {
    background: #1669F2;
}

.btn-text-white {
    color: #fff;
}